.servicessection {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 6rem 6rem;
  background-color: #fff;
}
.servicessection span {
  color: #2a286a;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 8px;
  display: block;
}
.servicessection h3 {
  font-size: 35px;
  line-height: 36px;
  font-weight: 400;
  color: #450000;
  text-transform: capitalize;
}
.servicessection .serviceholder {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 800px) {
  .servicessection {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
    background-color: #fff;
  }
  .servicessection .serviceholder {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    justify-content: center;
  }
}
