.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 290px;
  justify-content: space-around;
  margin: 4rem 3rem 0rem;
}

.service div {
  width: 111px;
  height: 111px;
  border-radius: 999px;
  background-color: #fff5f5;
  color: #2a286a;
  margin-bottom: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.service div svg {
  color: #2a286a;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
}
.service h3 {
  font-size: 24px;
  font-weight: 400;
  color: #450000;
  margin-top: 24px;
  margin-bottom: 13px;
  text-align: center;
}
.service p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  width: 70%;
  color: #4d4d4d;
  text-align: center;
  margin-bottom: 13px;
  font-family: "Roboto", sans-serif;
}
.service:hover .service div {
  background-color: #2a286a;
  color: #fff;
}
.service:hover .service div svg {
  background-color: #2a286a;
  color: #fff;
}
@media screen and (max-width: 800px) {
  .service {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    justify-content: space-around;
    margin: 4rem 3rem 0rem;
  }
}
